<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Template/about</title>
</head>
<body>
    {% extends "template.html" %} <!--recibe el navegador de contenido desde la template padre (template.html)-->
    {% block content %}

    <h1>Acerca de flask</h1>
    <h4>flask es un microfamework escrito en python.</h4>
    <p>sirve para crear un web server que devuelva nuestro html/css/js de la aplicacion mediante el protocolo HTTP (entre otras cosas)</p>

    {% endblock %}
</body>
</html>